body, ul, th, p, dd, dt { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11pt;
	text-decoration: none; 
	color: #000000 
}

dt {
	font-weight: bold;
	color: #FF9900; 
}

dd {
	margin-bottom: 11px;
}

ul {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11pt;
	text-decoration: none; 
	color: #000000;
	padding-bottom: 6pt; 
}

input.small { 
	font-size: 75%;
}

h1 { 
	color: #FF9900; 
	text-decoration: none; 
	font-size: 18px; 
	font-style: italic; 
	font-weight: bold;
	padding-bottom: 18px;
}

h2 { 
	color: #666666; 
	text-decoration: none; 
	font-size: 16px; 
	font-style: italic; 
	font-weight: bold; 
}

h3 { 
	color: #FF9900; 
	text-decoration: none; 
	font-size: 14px; 
	font-weight: bold;
	padding-bottom: 7px; 
}

h4 { 
	color: #FF9900; 
	text-decoration: none; 
	font-size: 14px; 
}

.h3_link { 
	color: #FF9900; 
	text-decoration: none; 
	font-size: 14px; 
	font-weight: bold; 
	text-decoration: underline;
}

.headline_white { 
	color: #FFFFFF; 
	text-decoration: none; 
	font-size: 14px; 
	font-weight: bolder;
}

.head_links {  
	font-size: 9pt; 
	color: #000000; 
	text-decoration: none;
}

.subhead_news {  
	font-size: 9pt; 
	color: #000000; 
	text-decoration: none;
}

.footer { 
	color: #000000; 
	text-decoration: none; 
	font-size: 8pt;
}

A:link {text-decoration: none; color: blue;}
A:visited {text-decoration: none; color: blue;}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: blue;}

/* Use this w/spans to hack past Netscape's li css etc bug. */

.lihack {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11pt;
	text-decoration: none; 
	color: #000000;
}

.sidebox {
	padding: 5px;
	font-size: 9pt;
}

.anchor {
	float: right;
}
