Options -Indexes
#
# need to allow read access to /reports/db/ because that's where PFTT files will be stored because
# web user has write access to that
#
# should be safe to allow read access to SQLite db files
Order deny,allow
#deny from all
Allow from all
