<style type="text/css">
body {
   margin-top: 0;
   margin-left: 0;
}

p, td, h1, h2, h3 {
   font-family: tahoma, arial, helvetica, "sans serif";
   margin-left: 10pt;
}

/* Use this w/spans to hack past Netscape's li css etc bug. */
.lihack {
   font-family: tahoma, arial, helvetica, "sans serif";
}

h1 {
   font-size: 115%;
}

h2 {
   font-size: 110%;
}

h3 {
   font-size: 100%;
}

#titleback {
   background: url('img/bg_green.gif');
}

#blueback {
   background: #ddeeff;
}
</style>
